* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --st0: #D34C3D;
	--st1: #DB934B;
	--st2: #EAA13F;
	--st3: #FCC75D;
	--st4: #AABC5C;
	--st5: #8FBF5C;
	--st6: #71B1B2;
	--st7: #4E848C;
	--st8: #476060;
	--st9: #392C1F;
    --svg-height: 60vh;
    --box-width: 6rem;
    --box-height: 8rem;
    --box-container-width: 8rem;
    --box-container-height: 10rem;
}
main {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
svg {
    height: var(--svg-height);
}
.box-container {
    width: var(--box-container-width);
    height: var(--box-container-height);
}
a:link,
a:visited {
    opacity: 1;
}
a:hover {
    cursor: grab;
    opacity: 0.6;
}
.info-box {
    width: var(--box-width);
    height: var(--box-height);
    border: 2pt solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
p {
    text-align: center;
}
.color-box {
    width: 4rem;
    height: 4rem;
    border: 0.5pt solid black;
}
.st0 {
    background-color: #D34C3D;
}
.st1 {
    background-color: #DB934B;
}
.st2 {
    background-color: #EAA13F;
}
.st3 {
    background-color: #FCC75D;
}
.st4 {
    background-color: #AABC5C;
}
.st5 {
    background-color: #8FBF5C;
}
.st6 {
    background-color: #71B1B2;
}
.st7 {
    background-color: #4E848C;
}
.st8 {
    background-color: #476060;
}
.st9 {
    background-color: #392C1F;
}